.container{
    width: 100vw;
    height: 100vh;
  
  }
  
  .subContainer{
    margin: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:20px;
  }